<!DOCTYPE html>
<html lang="cs">

<head>
    <title>Jawa 250 Sport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Hind:400,600" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="description" content="Renovace Jawa 250 sport 1967">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="responsive-bar red">
            <div id="toggle-bars" class="box"><i class="fa fa-bars fa-2x"></i></div>
        </div>
        <nav class="red menu is-hidden">
            <ul>
                <li><a class="noselect" href="#intro"><i class="fa fa-home"></i> Úvod</a></li>
                <li><a class="noselect" href="#diary"><i class="fa fa-book"></i> Deník</a></li>
                <li><a class="noselect" href="#tech-data"><i class="fa fa-cog"></i> Technická data</a></li>
                <li><a class="noselect" href="#fotogalery"><i class="fa fa-camera"></i> Fotogalerie</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="grey" id="intro">
            <article>
                <h1>Úvod</h1>
                <p>
                    Tenhle web je takovým mým deníkem o renovaci Jawy kterou jsem si pořídil. Zároveň je to školní zápočtový projekt. Postupně budu přidávat fotografie a pár slov o průběhů renovace. Nepředpokládám výsledek profesionální renovátorské firmy. Chci na tom mít co největší podíl práce abych si ve výsledku mohl říct "Ano tohle jsem dělal já!". Navíc investuji do toho své peníze takže mě nějaké kecy chytráků ani nezajímají.
                </p>
            </article>
        </section>
        <section class="img-one borders">
            <article>
                <h1 class="left-description-30">Jawa</h1>
                <h1 class="left-description-20">250/590 Sportka</h1>
            </article>
        </section>
        <section class="grey" id="diary">
            <article>
                <h1>Kde sehnat stroj?</h1>
                <h4>Koupě motorky</h4>
                <p class="bottom-border">
                    Dlouho dobu jsem hledal někoho kdo prodává motorku v okolí mého bydliště. Toužil jsem pořídit Jawu 250 nebo 350, ale pro začátek jsem nebyl ani proti Pionýru. Rozhodil jsem sítě po známých a čekal na nabídky. Ozval se mi spolužák se střední. "Ve stodole mám rozebranou Jawu 250, ale to už nikdo nemá šanci složit", takhle zněla jeho slova. Neváhal jsem a za pár dní jsem ho navštívil. Ve stodole stála částečně rozebraná motorka. Výrobní štítek udává rok výroby 1967 více nešlo přečíst. Motor u ní nebyl. Po chvílí hledání byl nalezen na kupě šrotu připravené k odvozu do sběru. Viditelně motoru chyběl válec, který se po chvíli našel o kousek dále. Nakonec z motoru chybělo jen zapalování, spojkové lamely, hlava válce a karburátor. Plácli jsme si a učinili obchod. Do týdne jsme motorku převezli do garáže a začal jsem na ní pracovat. Pokračování až bude čas.
                </p>
            </article>
            <article>
                <h1>Renovace</h1>
                <h4>První kroky</h4>
                <p class="bottom-border">
                    Začal jsem rozebíráním kostry a půlením motoru. Rozpůlit motor šlo relativně lehce, až na jeden šroub který byl třeba odvrtat. Převodovka nenesla žádné vážné známky opotřebení, ale ložiska a kliková hřídel byly jednoznačně na odpis. Na zrezlé kliková hřídeli nešlo ani pohnout ojnicí. Ložiska taky nejevily známky pohybu. Motor prošel kompletní očistnou kůrou. Jednotlivé díly jsem rozdělil na ty které se budou leštit, co půjde na chrom a co se připraví na nový lak.
                </p>
            </article>
            <article>
                <h1>Díly na lak</h1>
                <h4>Pískování</h4>
                <p class="bottom-border">
                    Pořídil jsem pískovací pistoli ke kompresoru. Dále jsem sehnal křemičitý písek a sestavil plastový box na pískování. Kompresor mám obyčejný z OBI, max 8 bar, 2HP. Na lehké pískování ujde na větší plochy nestíhá. Velké díly postupně taťka pískuje v práci. Malé součástí si dělám sám a vše stříkám základovou barvou. Práce pokračuje pomalu, ale docela plynule.
                </p>
            </article>
            <article>
                <h1>Motor</h1>
                <h4>Nová klika + výbrus</h4>
                <p>
                    V polovině ledna jsem dal klikovou hřídel na repas. Tedy spíš jsem vyměnil svou, která repas potřebovala za klikovku již repasovanou. Zároveň jsem nechal válec na výbrus. Kartery jsem osadil novými ložisky, vložil novou kliku, těsnění a složil motor dohromady. Teď jen počkat na válec a složit zapalování. Dále budu pořizovat startovací hřídel, spojkové lamely a tyčky a kryt dynama. Postupně připravuji na lak plechařinu, tj. pískování, základová barva, nerovnosti kitovat, případně svařování.
                </p>
            </article>
        </section>
        <section class="img-two borders">
            <article>
                <h1 class="right-description-30">Jawa</h1>
                <h1 class="right-description-20">250/590 Sportka</h1>
            </article>
        </section>
        <section class="grey" id="tech-data">
            <article class="article-centered">
                <table title="Jawa 250/590 (Sport)">
                    <thead>
                        <tr>
                            <th style="text-align: center; font-size: 20px;" colspan="2">
                                Jawa 250/590 (Sport)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="bottom-border-h3" colspan="2">
                                Motor</th>
                        </tr>
                        <tr>
                            <th>Typ</th>
                            <td>Dvoudobý vzduchem chlazený jednoválec</td>
                        </tr>
                        <tr>
                            <th>Zdvihový objem</th>
                            <td>248,8 cm&sup3;</td>
                        </tr>
                        <tr>
                            <th>Vrtání</th>
                            <td>65 mm</tr>
                        <tr>
                            <th>Zdvih</th>
                            <td>75 mm</td>
                        </tr>
                        <tr>
                            <th>Kompresní poměr</th>
                            <td>8:1</td>
                        </tr>
                        <tr>
                            <th>Plnění</th>
                            <td>Karburátor Jikov 2926 SBD 16b</td>
                        </tr>
                        <tr>
                            <th>Výkon</th>
                            <td>10,9kW (14 HP) při 5000 ot./min</td>
                        </tr>
                        <tr>
                            <th>Kroutící moment</th>
                            <td>21,6 Nm při 3750 ot./min</td>
                        </tr>
                        <tr>
                            <th class="bottom-border-h3" colspan="2">
                                Převodovka</th>
                        </tr>
                        <tr>
                            <th>Počet převodů</th>
                            <td>čtyři</td>
                        </tr>
                        <tr>
                            <th>Sekundární převod</th>
                            <td>řetěz</td>
                        </tr>
                        <tr>
                            <th class="bottom-border-h3" colspan="2">
                                Konstrukce</th>
                        </tr>
                        <tr>
                            <th>Rám</th>
                            <td>Svařovaný ze čtyřhranných profilů</td>
                        </tr>
                        <tr>
                            <th>Rozvor</th>
                            <td>1385 mm</td>
                        </tr>
                        <tr>
                            <th>Délka</th>
                            <td>2105 mm</td>
                        </tr>
                        <tr>
                            <th>Šířka</th>
                            <td>750 mm</td>
                        </tr>
                        <tr>
                            <th>Výška</th>
                            <td>1070 mm</td>
                        </tr>
                        <tr>
                            <th>Váha stroje</th>
                            <td>130 kg</td>
                        </tr>
                        <tr>
                            <th rowspan="2">Zavěšení</th>
                            <td>Zdvih 130 mm vpředu</td>
                        </tr>
                        <tr>
                            <td>Zdvih 100 mm vzadu</td>
                        </tr>
                        <tr>
                            <th rowspan="2">Brzdy</th>
                            <td>Přední: bubnová</td>
                        </tr>
                        <tr>
                            <td>Zadní: bubnová</td>
                        </tr>
                        <tr>
                            <th rowspan="2">Pneumatiky</th>
                            <td>Přední: 3,25x19</td>
                        </tr>
                        <tr>
                            <td>Zadní: 3,50x19</td>
                        </tr>
                        <tr>
                            <th>Kapacita nádrže</th>
                            <td>13,5 l</td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </section>
        <section class="img-three borders">
            <article>
                <h1 class="left-description-30">Jawa</h1>
                <h1 class="left-description-20">250/590 Sportka</h1>
            </article>
        </section>
        <section class="grey" id="fotogalery">
            <article class="images">
                <a href="../static/img/1.jpg" data-lightbox="jawa" data-title="Stav po dovezení."><img class="miniature" src="../static/img/1_tn.jpg" alt="1"></a>
                <a href="../static/img/2.jpg" data-lightbox="jawa" data-title="Pravý karter, značné zoxidovaný."><img class="miniature" src="../static/img/2_tn.jpg" alt="2"></a>
                <a href="../static/img/3.jpg" data-lightbox="jawa" data-title="Vnitřek motoru, klikovka byla úplně rezavá."><img class="miniature" src="../static/img/3_tn.jpg" alt="3"></a>
                <a href="../static/img/4.jpg" data-lightbox="jawa" data-title="Levý karter po vyčištění."><img class="miniature" src="../static/img/4_tn.jpg" alt="4"></a>
                <a href="../static/img/5.jpg" data-lightbox="jawa" data-title="Levý karter po vyčištění."><img class="miniature" src="../static/img/5_tn.jpg" alt="5"></a>
                <a href="../static/img/6.jpg" data-lightbox="jawa" data-title="Motor po vyčištění. Víko dynama chybí."><img class="miniature" src="../static/img/6_tn.jpg" alt="6"></a>
                <a href="../static/img/7.jpg" data-lightbox="jawa" data-title="Kompletní demontáž."><img class="miniature" src="../static/img/7_tn.jpg" alt="7"></a>
                <a href="../static/img/8.jpg" data-lightbox="jawa" data-title="Díly které se budou lakovat."><img class="miniature" src="../static/img/8_tn.jpg" alt="8"></a>
                <a href="../static/img/9.jpg" data-lightbox="jawa" data-title="Motor osazen repasovanou klikovkou."><img class="miniature" src="../static/img/9_tn.jpg" alt="9"></a>
                <a href="../static/img/10.jpg" data-lightbox="jawa" data-title="Část dílů po pískování a nástřiku základovou barvou."><img class="miniature" src="../static/img/10_tn.jpg" alt="10"></a>
                <a href="../static/img/11.jpg" data-lightbox="jawa" data-title="Díly po opískování."><img class="miniature" src="../static/img/11_tn.jpg" alt="11"></a>
                <a href="../static/img/12.jpg" data-lightbox="jawa" data-title="Nová spojka, lamely Ferodo."><img class="miniature" src="../static/img/12_tn.jpg" alt="12"></a>
                <a href="../static/img/13.jpg" data-lightbox="jawa" data-title="Vyčištěný a vylečtený buben a štít."><img class="miniature" src="../static/img/13_tn.jpg" alt="13"></a>
                <a href="../static/img/14.jpg" data-lightbox="jawa" data-title="Nový ciferník tachometru."><img class="miniature" src="../static/img/14_tn.jpg" alt="14"></a>
                <a href="../static/img/15.jpg" data-lightbox="jawa" data-title="Nová, nepoužítá spínačka PAL."><img class="miniature" src="../static/img/15_tn.jpg" alt="15"></a>
            </article>
        </section>
    </main>
    <footer class="red">
        Vytvořeno v rámci projektu do školy &copy; 2016
    </footer>
    <endora></endora>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script type="text/javascript" src="../static/js/lightbox.min.js"></script>
</body>

</html>
